.landing-page {
	min-height: 100vh;
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	justify-content: center;
	background-color: #ffffff;
}

.intro-wrapper {
	flex: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.name {
	font-family: 'Montserrat', sans-serif;
	background: -webkit-linear-gradient(
		#607d8b,
		#6e8996,
		#7c95a1,
		#8ba1ad,
		#99aeb8
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 6rem;
	line-height: 5rem;
	padding-bottom: 1rem;
	margin-top: 200px;
}

.info {
	font-size: 1.3rem;
	margin: 0.8rem 0;
	font-family: 'Montserrat', sans-serif;
	color: black;
}
