body {
	background-image: linear-gradient(
		to bottom,
		#f7f7f9,
		#f4f4f7,
		#f1f1f5,
		#efeff3,
		#ececf1
	);
}

.landing-page {
	min-height: 100vh;
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	justify-content: center;
	padding-top: 2rem;
}

.intro-wrapper {
	flex: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.name {
	font-family: 'Montserrat', sans-serif;
	color: #607d8b;
	font-size: 8rem;
	line-height: 7rem;
	letter-spacing: -0.4rem;
	padding-bottom: 1rem;
	margin-top: 150px;
	text-align: center;
}

.info {
	font-size: 1.3rem;
	margin: 0.8rem 0;
	font-family: 'Montserrat', sans-serif;
	color: #262626;
	text-align: center;
}

.pagination {
	font-size: 4rem;
	display: flex;
	justify-content: center;
	cursor: pointer;
	padding-bottom: 5rem;
	color: #262626;
}
