.landing-page {
	min-height: 100vh;
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	justify-content: center;
	background-color: #ffffff;
}

main {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	justify-content: center;
	padding: 3.25rem 1.5rem 1rem;
	text-align: center;
}

.intro-wrapper {
	flex: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.name {
	font-family: 'Montserrat', sans-serif;
	font-size: 6rem;
	line-height: 4rem;
	padding-bottom: 1rem;
	color: #607d8b;
	margin-top: 100px;
}

.info {
	font-size: 1.375rem;
	margin: 0.8rem 0;
	font-family: 'Montserrat', sans-serif;
	color: black;
}


