body {
	background-color: #ffffff;
}

.my-story {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	background-color: #ffffff;
}

.story-heading {
	font-family: 'Comfortaa', cursive;
	color: #607d8b;
	font-weight: 100;
	font-size: 2rem;
	line-height: 3.5rem;
	padding-bottom: 2rem;
	margin-top: 90px;
	text-align: left;
	margin-left: 5rem;
	background-color: #ffffff;
}

.story-information {
	display: block;
	width: 70%;
	height: 20rem;
	margin-left: 13%;
	padding-top: 0.8rem;
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
	-webkit-box-shadow: 10px 10px 15px 20px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.4);
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
	color: #262626;
	text-align: center;
	background-color: #ececec;
	padding: 30px;
	border-radius: 5px;
}

.story-information b {
	color: #56667c;
}

.pagination {
	font-size: 2.5rem;
	cursor: pointer;
	text-align: center;
	align-content: center;
	padding-top: 60px;
	color: #697c85;
}

.pagination-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	text-align: center;
  color: #697c85;
}

@media screen and (max-width: 800px) {
	.my-story,
	.story-information {
		width: 100%;
		padding: 0;
	}
}
