.projects-page {
	min-height: 115vh;
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	justify-content: center;
	background-color: #ffffff;
}

.project-header {
	margin-left: 5rem;
	font-size: 2rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
	text-align: left;
	color: #607d8b;
	font-family: 'Comfortaa', cursive;
	font-weight: 100;
}

.content-grid {
	flex: auto;
	margin-bottom: 2rem;
}

.projects-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.pagination {
	padding-bottom: 0.3rem;
	font-size: 2.5rem;
	color: #56667c;
}

.pagination-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	text-align: center;
	margin-bottom: 1.5rem;
}

@media only screen and (max-width: 480px) {
	.projects-page .project-header .projects-wrapper .content-grid {
		width: 100%;
	}
}
