.projects-page {
	min-height: 100vh;
	padding-top: 4.5rem;
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	justify-content: center;
}

h1 {
	margin-left: 5rem;
	font-size: 2rem;
	text-align: center;
	color: #607d8b;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}

.content-grid {
	flex: auto;
}

.projects-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
