body {
	background-image: linear-gradient(
		to right,
		#f7f7f9,
		#f4f4f7,
		#f1f1f5,
		#efeff3,
		#ececf1
	);
}

.project-content {
	display: flex;
	flex: 1;
	justify-content: center;
	text-align: center;
	background-image: linear-gradient(
		to right,
		#f7f7f9,
		#f4f4f7,
		#f1f1f5,
		#efeff3,
		#ececf1
	);
}

.project-item {
	display: flex;
	flex-direction: column;
	margin: 0.5rem 0;
	border-radius: 10px;
	transition: box-shadow 0.25s;
	-webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	width: 15rem;
	margin: 1rem 1rem;
	border: 8px solid #ffffff;
	background-image: linear-gradient(
		to right,
		#f7f7f9,
		#f4f4f7,
		#f1f1f5,
		#efeff3,
		#ececf1
	);
}

.project-item--title {
	flex: 1;
	padding: 1rem 1.5rem;
	font-size: 1.125rem;
	font-weight: 500;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #607d8b;
}

.project-item--desc {
	display: flex;
	padding: 0 0.5rem;
	font-size: 0.8rem;
	font-weight: 500;
	line-height: 1.25rem;
	margin-bottom: 40px;
	color: #262626;
	font-family: 'Montserrat', sans-serif;
}

.project-item--links {
	padding: 0 0 0.75rem;
	display: flex;
	justify-content: center;
	margin-top: 50px;
	font-size: 1.4rem;
	font-weight: 400;
	border-top: 1px solid #262626;
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
}

.source {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	margin-right: 20px;
	text-align: center;
	padding-top: 0.5rem;
	color: #607d8b;
	border: none;
	align-self: auto;
}

.source:hover {
	cursor: pointer;
	transform: scale(1.2);
	color: red;
}
