body {
	background-color: #ffffff;
}

.project-content {
	display: flex;
	flex: 1;
	justify-content: center;
	text-align: center;
	background-color: #ffffff;
}

.project-item {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	transition: box-shadow 0.25s;
	-webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	width: 18rem;
	margin: 0.3rem 1rem;
	padding-bottom: 1rem;
	border: 5px solid #ffffff;
	background-color: #ececec;
}

.project-item--title {
	color: #607d8b;
	flex: 1;
	padding: 1rem 1rem;
	font-size: 1.4rem;
	font-weight: 500;
	align-items: center;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.project-item--desc {
	display: flex;
	flex-direction: column;
	padding: 0.3rem 0.5rem;
	align-items: center;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.25rem;
	padding-top: 1rem;
	color: #262626;
	font-family: 'Montserrat', sans-serif;
}

.project-item--links {
	background-color: #ececec;
	border-top: 5px solid #ffffff;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	padding-top: 0.5rem;
}

.awesome-source {
	font-size: 2.5rem;
	margin-right: 5px;
	align-content: center;
	padding: 0.1rem 0.4rem;
	color: #56667c;
	text-shadow: 4px 6px 8px #ececec, 0 0 25px #ececec, 0 0 5px #b8cad0;
}

a {
	text-decoration: none;
}

@media screen and (max-width: 800px) {
	.project-content,
	.project-item,
	.project-item--links {
		width: 100%;
		padding: 0;
	}
}

@media screen and (max-width: 400px) {
	.project-content,
	.project-item,
	.project-item--links {
		float: none;
		width: 100%;
	}
}
