.skills {
	padding-top: 2rem;
	min-height: 100vh;
	display: flex;
	flex: 0 2 auto;
	flex-direction: column;
	justify-content: center;
	background-color: #ffffff;
	background-blend-mode: normal, color-burn;
}

.skill {
	font-weight: 100;
	color: #607d8b;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	font-size: 3rem;
}

.skills-wrapper {
	flex: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
