.skills-page {
	padding-top: 2rem;
	min-height: 100vh;
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	justify-content: center;
	margin-top: 100px;
}

.content-grid {
	flex: auto;
}

h1 {
	padding: 1rem 0;
	font-size: 3rem;
	text-align: center;
	background: -webkit-linear-gradient(
		#0a1e3a,
		#234367,
		#4b6882,
		#456376,
		#607d8b
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}

.skills-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
