footer {
	display: flex;
	flex: 0 4 auto;
	flex-direction: column;
	height: 14rem;
	padding: 0.5rem 0;
	background-color: #ffffff;
	border-top: #607d8b;
	border-top-style: outset;
	justify-content: center;
	text-align: center;
}
.title {
	font-family: 'Montserrat', sans-serif;
	color: black;

	font-size: 1.2rem;
}

h2 {
	text-align: center;
	margin-left: 35px;
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	color: #607d8b;
}

ul {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	color: #607d8b;
	column-span: all;
}

li {
	list-style: none;
}

button {
	border: 1px solid #607d8b;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	color: #607d8b;
	align-self: auto;
}

button:hover {
	cursor: pointer;
	background-image: linear-gradient(to left, #74919f 0%, #607d8b 100%);
	background-color: #607d8b;
	color: #ffffff;
	transition: ease;
}
