footer {
	display: flex;
	flex: 0 4 auto;
	flex-direction: column;
	height: 14rem;
	padding: 0.5rem 0;
	background-color: #ffffff;
	border-top: #607d8b;
	border-top-style: outset;
	justify-content: center;
	text-align: center;
}
.footer-title {
	font-family: 'Montserrat', sans-serif;
	color: #354a54;

	font-size: 1.2rem;
}

h2 {
	text-align: center;
	margin-left: 35px;
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	color: #354a54;
}

ul {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	color: #354a54;
	column-span: all;
}

li {
	list-style: none;
}

img:hover {
	cursor: pointer;
	transform: scale(1.2);
	transition: ease-in-out;
}
