.skill-content {
	display: flex;
	flex: 1;
	justify-content: center;
	text-align: center;
	background-color: #ffffff;
}

.skill-object {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	transition: box-shadow 0.25s;
	-webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	width: 19rem;
	margin: 0.3rem 1rem;
	border: 5px solid #ffffff;
	background-color: #ececec;
}

.skill-title {
	color: #607d8b;
	flex: 1;
	padding: 1rem 1rem;
	font-size: 1.4rem;
	font-weight: 500;
	align-items: center;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.skill-description {
	display: flex;
	flex-direction: column;
	padding: 0.3rem 0.5rem;
	align-items: center;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.25rem;
	padding-top: 1rem;
	color: #262626;
	font-family: 'Montserrat', sans-serif;
}

.code-awesome {
	background-color: #ececec;
	border-top: 5px solid #ffffff;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	padding-top: 0.5rem;
}

.code-awesome i {
	font-size: 2.4rem;
	margin-right: 5px;
	margin-bottom: 10px;
	align-content: center;
	padding: 0.1rem 0.4rem;
	color: #56667c;
	text-shadow: 4px 4px 8px #ececec, 0 0 25px #ffffff, 0 0 5px #b8cad0;
}

@media screen and (max-width: 800px) {
	.skill-content,
	.skill-object,
	.skill-description,
	.code-awesome i {
		width: 100%;
		padding: 0;
	}
}

@media screen and (max-width: 800px) {
	.skill-content,
	.skill-object,
	.skill-description,
	.code-awesome i {
		width: 100%;
		padding: 0;
	}
}
