.contact-icons {
	padding: 0.25rem 0;
	padding-top: 4rem;
	margin-top: 6rem;
	font-size: 4rem;
	background: padding-box;
	background-color: #ffffff;
	height: 9rem;
	width: 70rem;
}

.awesome-footer {
	padding: 0 0.6rem;
	color: #697c85;
	transform: scale(1.1);
	transition: ease-in-out;
}

i:hover {
	cursor: pointer;
	transform: scale(1.1);
	transition: ease-in-out;
}
