html:before,
html:after,
body:before,
body:after {
	content: '' '';
	background-image: linear-gradient(
		to bottom,
		#41545e,
		#425561,
		#435664,
		#455767,
		#47586a,
		#47576a,
		#485769,
		#485669,
		#465466,
		#445163,
		#434f61,
		#414d5e
	);
	position: fixed;
	display: block;
	z-index: 5;
}

html:before {
	height: 0px;
	left: 0;
	right: 0;
	top: 0;
}
html:after {
	width: 30px;
	top: 0;
	right: 0;
	bottom: 0;
}
body:before {
	height: 0px;
	right: 0;
	bottom: 0;
	left: 0;
}
body:after {
	width: 30px;
	top: 0;
	bottom: 0;
	left: 0;
}
