nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 6.5rem;
	display: flex;
	justify-content: flex-end;
	background-color: #ffffff;
	border-bottom: #607d8b;
	border-bottom-style: inset;
}

.menu {
	margin-right: 1rem;
	display: flex;
	flex: 1;
	justify-content: flex-end;
	color: #607d8b;
	text-align: center;
}

.menu-item {
	padding: 0.25rem 0;
	margin: 0 2rem;
	margin-top: 2.5rem;
	font-size: 1.5rem;
	font-family: 'Montserrat', sans-serif;
}

.menu-item:hover {
	cursor: pointer;
	border-top: 2px solid black;
	transition: ease-in-out;
}

.logo-item {
	padding: 0.5rem 0.5rem;
	margin: 0 2rem;
	margin-top: 0.8rem;
	color: #607d8b;
	font-size: 3.25rem;
	font-family: 'Montserrat', sans-serif;
}

.logo-item:hover {
	cursor: pointer;
	background-image: linear-gradient(to left, #74919f 0%, #607d8b 100%);
	background-color: #607d8b;
	color: #ffffff;
	transition: ease;
	border-radius: 9px;
}
